body
{
	background-color:lightseagreen;
}

#sec1
{
	text-align: center;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	padding:20px;
	margin:20px;
	color:white;
}
#days
{
	font-size: 25px;
}

#sec2{
	text-align: center;
	color: blue;
}

.randomarticlebutton{
color: white;
width:237px;
height:36px;
};

#li
{
	text-decoration-line: none;

}

#unorderlist{
	padding: 20px;
}

button{
	width: 70px;
}

.search-result-container li
{
	list-style-type: none;
	padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
